In [31]:
import numpy as np 
import pandas as pd
%matplotlib inline

In [32]:
from numba import jit

In [33]:
sample_window = pd.read_csv("C:/Users/tyx51/Desktop/data3/CreditSampleWindow.csv")

In [34]:
print(sample_window.columns.values)

['CID' 'STAGE_BEF' 'STAGE_AFT' 'START_DATE' 'CLOSE_DATE']

In [42]:
sample_window.shape

(1663660, 8)

In [56]:
sample_window.head(10)

,CID,STAGE_BEF,STAGE_AFT,START_DATE,CLOSE_DATE,STAGE_MONTH,CLOSE_MONTH,AFT_FLAG
0,CID0128273,,M0,20170701.0,20170703.0,201707,201707,0
1,CID0214787,,M0,20180201.0,20180204.0,201802,201802,0
2,CID0287932,M4,M5,20180501.0,20180531.0,201805,201805,5
3,CID0351850,,M0,20161002.0,20161005.0,201610,201610,0
4,CID0217310,,M0,20150601.0,20150602.0,201506,201506,0
5,CID0010329,M6,M7,20170128.0,20170227.0,201701,201702,7
6,CID0140008,,M0,20170801.0,20170802.0,201708,201708,0
7,CID0066926,,M0,20170201.0,20170204.0,201702,201702,0
8,CID0156186,,M0,20170701.0,20170704.0,201707,201707,0
9,CID0362128,M0,M1,20160504.0,20160510.0,201605,201605,1

In [49]:
sample_window.drop_duplicates(inplace=True) # 去除  所有的值完全重复  的行 
sample_window.shape

(1663660, 8)

In [50]:
sample_window.dropna(subset=["STAGE_BEF","STAGE_AFT"],inplace=True)  #两字段有一个缺失就删除之 
sample_window.shape

(1663660, 8)

In [51]:
# 对日期取年月份
sample_window["STAGE_MONTH"] = sample_window.START_DATE.apply(lambda x: int(x//100))
sample_window["CLOSE_MONTH"] = sample_window.CLOSE_DATE.apply(lambda x: int(x//100))

In [52]:
sample_window["AFT_FLAG"] = sample_window.STAGE_AFT.apply(lambda x: int(x[-1]))

In [57]:
sample_window.head(10)

,CID,STAGE_BEF,STAGE_AFT,START_DATE,CLOSE_DATE,STAGE_MONTH,CLOSE_MONTH,AFT_FLAG
0,CID0128273,,M0,20170701.0,20170703.0,201707,201707,0
1,CID0214787,,M0,20180201.0,20180204.0,201802,201802,0
2,CID0287932,M4,M5,20180501.0,20180531.0,201805,201805,5
3,CID0351850,,M0,20161002.0,20161005.0,201610,201610,0
4,CID0217310,,M0,20150601.0,20150602.0,201506,201506,0
5,CID0010329,M6,M7,20170128.0,20170227.0,201701,201702,7
6,CID0140008,,M0,20170801.0,20170802.0,201708,201708,0
7,CID0066926,,M0,20170201.0,20170204.0,201702,201702,0
8,CID0156186,,M0,20170701.0,20170704.0,201707,201707,0
9,CID0362128,M0,M1,20160504.0,20160510.0,201605,201605,1

In [55]:
sample_window.loc[sample_window.CLOSE_MONTH == 0,"CLOSE_MONTH"] = 201805

In [13]:
#解决warning 
import warnings
warnings.filterwarnings("ignore")