- 数据处理
- 去除完全重复值
- 对日期取年月
- 同时删除（2字段有一个缺失的情况）

In [58]:
import numpy as np 
import pandas as pd
%matplotlib inline

In [59]:
from numba import jit

In [60]:
sample_window = pd.read_csv("C:/Users/tyx51/Desktop/data3/CreditSampleWindow.csv")

In [61]:
print(sample_window.columns.values)

['CID' 'STAGE_BEF' 'STAGE_AFT' 'START_DATE' 'CLOSE_DATE']

In [62]:
sample_window.shape

(1813157, 5)

In [65]:
sample_window.head(10)

          CID STAGE_BEF STAGE_AFT  START_DATE  CLOSE_DATE
0  CID0128273                  M0  20170701.0  20170703.0
1  CID0214787                  M0  20180201.0  20180204.0
2  CID0287932        M4        M5  20180501.0  20180531.0
3  CID0351850                  M0  20161002.0  20161005.0
4  CID0217310                  M0  20150601.0  20150602.0
5  CID0010329        M6        M7  20170128.0  20170227.0
6  CID0140008                  M0  20170801.0  20170802.0
7  CID0066926                  M0  20170201.0  20170204.0
8  CID0156186                  M0  20170701.0  20170704.0
9  CID0362128        M0        M1  20160504.0  20160510.0

In [69]:
sample_window.drop_duplicates(inplace=True) # 去除  所有的值完全重复  的行 
sample_window.shape

(1663660, 5)

In [70]:
sample_window.dropna(subset=["STAGE_BEF","STAGE_AFT"],inplace=True)  #两字段有一个缺失就删除之 
sample_window.shape

(1663660, 5)

In [71]:
# 对日期取年月份
sample_window["STAGE_MONTH"] = sample_window.START_DATE.apply(lambda x: int(x//100))
sample_window["CLOSE_MONTH"] = sample_window.CLOSE_DATE.apply(lambda x: int(x//100))

In [52]:
sample_window["AFT_FLAG"] = sample_window.STAGE_AFT.apply(lambda x: int(x[-1]))

In [57]:
sample_window.head(10)

,CID,STAGE_BEF,STAGE_AFT,START_DATE,CLOSE_DATE,STAGE_MONTH,CLOSE_MONTH,AFT_FLAG
0,CID0128273,,M0,20170701.0,20170703.0,201707,201707,0
1,CID0214787,,M0,20180201.0,20180204.0,201802,201802,0
2,CID0287932,M4,M5,20180501.0,20180531.0,201805,201805,5
3,CID0351850,,M0,20161002.0,20161005.0,201610,201610,0
4,CID0217310,,M0,20150601.0,20150602.0,201506,201506,0
5,CID0010329,M6,M7,20170128.0,20170227.0,201701,201702,7
6,CID0140008,,M0,20170801.0,20170802.0,201708,201708,0
7,CID0066926,,M0,20170201.0,20170204.0,201702,201702,0
8,CID0156186,,M0,20170701.0,20170704.0,201707,201707,0
9,CID0362128,M0,M1,20160504.0,20160510.0,201605,201605,1

In [55]:
sample_window.loc[sample_window.CLOSE_MONTH == 0,"CLOSE_MONTH"] = 201805

In [13]:
#解决warning 
import warnings
warnings.filterwarnings("ignore")

三国人物出场统计

In [1]:
import os
import jieba
f = open("三国演义.txt","rb")
txt = f.read()
words = jieba.lcut(txt) 

counts = {}
for word in words:
    if len(word) == 1:
        continue
    else:
        counts[word] = counts.get(word,0) + 1 
items = list(counts.items())
items.sort(key = lambda items: items[1], reverse = True)

for i in range(20):
    word, count =  items[i]
    print("{0:<15}{1:>5}".format(word,count))

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\tyx51\AppData\Local\Temp\jieba.cache
Loading model cost 0.633 seconds.
Prefix dict has been built succesfully.

曹操               934
孔明               831
将军               760
却说               647
玄德               570
关公               509
丞相               488
二人               465
不可               435
荆州               419
孔明曰              385
玄德曰              383
不能               383
如此               376
张飞               348
商议               344
如何               336
主公               327
军士               309
吕布               299

继续优化改进

In [5]:
import os
import jieba
f = open("三国演义.txt","rb")
txt = f.read()
words = jieba.lcut(txt) 

counts = {}
for word in words:
    if len(word) == 1:
        continue
    else:
        counts[word] = counts.get(word,0) + 1 
        
        
excludes = ['却说','将军','商议','主公','吕布','军士','如此','如何','不能','天下','引兵','东吴','次日']
for word in excludes:
    del(counts[word])
        
        
        
items = list(counts.items())
items.sort(key = lambda items: items[1], reverse = True)

for i in range(20):
    word, count =  items[i]
    print("{0:<15}{1:>5}".format(word,count))

曹操               934
孔明               831
玄德               570
关公               509
丞相               488
二人               465
不可               435
荆州               419
孔明曰              385
玄德曰              383
张飞               348
左右               291
军马               289
刘备               271
大喜               265
孙权               264
云长               261
赵云               255
于是               250
今日               242