In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data7 = pd.read_excel("C:/Users/tyx51/data7.xlsx")

In [3]:
data7.head()

     id  gender   age  edu custom_amt   order_date
0   890  female  43.0  NaN   ￥2177.94  2018年12月25日
1  2391    male  52.0  NaN   ￥2442.18   2017年5月24日
2  2785    male  39.0  NaN    ￥849.79   2018年5月15日
3  1361  female  26.0  NaN   ￥2482.22   2018年5月16日
4   888  female  61.0   本科    ￥2027.9   2018年1月21日

In [4]:
os.getcwd()

'C:\\Users\\tyx51'

In [5]:
data7.shape

(3000, 6)

#### 数据类型的判断和转换

In [6]:
data7.dtypes

id              int64
gender         object
age           float64
edu            object
custom_amt     object
order_date     object
dtype: object

In [16]:
# 数值型转字符型
data7["id"] = data7["id"].astype(str)

In [20]:
 # 字符型转数值型
data7["custom_amt"] = data7["custom_amt"].astype(float)

ValueError: could not convert string to float: '￥2177.94'

In [21]:
# 字符型转日期型
data7["order_date"] = pd.to_datatime(data7["order_date"],format ="%￥年%m月%d日")

AttributeError: module 'pandas' has no attribute 'to_datatime'

In [22]:
data7.dtypes

id             object
gender         object
age           float64
edu            object
custom_amt     object
order_date     object
dtype: object

In [23]:
# 查看数据集的各个变量类型
data7.dtypes

id             object
gender         object
age           float64
edu            object
custom_amt     object
order_date     object
dtype: object

In [24]:
data7.head()

     id  gender   age  edu custom_amt   order_date
0   890  female  43.0  NaN   ￥2177.94  2018年12月25日
1  2391    male  52.0  NaN   ￥2442.18   2017年5月24日
2  2785    male  39.0  NaN    ￥849.79   2018年5月15日
3  1361  female  26.0  NaN   ￥2482.22   2018年5月16日
4   888  female  61.0   本科    ￥2027.9   2018年1月21日

#### 冗余的数据的判断和处理

In [25]:
# 判断数据中是否存在重复观测
data7.duplicated().any()

False

In [51]:
#  duplicated  
#  drop_duplicates 
#  drop_duplicates ,inplace=True