- 数据处理
- 去除完全重复值
- 对日期取年月
- 同时删除（2字段有一个缺失的情况）

In [67]:
import numpy as np 
import pandas as pd
%matplotlib inline

In [68]:
#from numba import jit

In [69]:
sample_window = pd.read_csv("C:/Users/tyx51/Desktop/data3/CreditSampleWindow.csv")

In [70]:
print(sample_window.columns.values)

['CID' 'STAGE_BEF' 'STAGE_AFT' 'START_DATE' 'CLOSE_DATE']

In [71]:
sample_window.shape

(1813157, 5)

In [81]:
sample_window.info

<bound method DataFrame.info of                 CID STAGE_BEF STAGE_AFT  START_DATE  CLOSE_DATE  STAGE_MONTH  \
0        CID0128273                  M0  20170701.0  20170703.0       201707
1        CID0214787                  M0  20180201.0  20180204.0       201802
2        CID0287932        M4        M5  20180501.0  20180531.0       201805
3        CID0351850                  M0  20161002.0  20161005.0       201610
4        CID0217310                  M0  20150601.0  20150602.0       201506
5        CID0010329        M6        M7  20170128.0  20170227.0       201701
6        CID0140008                  M0  20170801.0  20170802.0       201708
7        CID0066926                  M0  20170201.0  20170204.0       201702
8        CID0156186                  M0  20170701.0  20170704.0       201707
9        CID0362128        M0        M1  20160504.0  20160510.0       201605
10       CID0100237                  M0  20160901.0  20160904.0       201609
11       CID0098407        M0        M1  20170704.0  20170704.0       201707
12       CID0197700                  M0  20180301.0  20180304.0       201803
13       CID0297261                  M0  20170701.0  20170702.0       201707
14       CID0089617                  M0  20180501.0  20180502.0       201805
15       CID0223200                  M0  20170301.0  20170302.0       201703
16       CID0255450        M1        M2  20151231.0  20160130.0       201512
18       CID0349107        M2        M3  20180302.0  20180401.0       201803
19       CID0125358        M2        M3  20180302.0  20180401.0       201803
21       CID0052618                  M0  20171201.0  20171204.0       201712
22       CID0374109                  M0  20180201.0  20180202.0       201802
23       CID0154086                  M0  20180401.0  20180404.0       201804
24       CID0280274        M4        M5  20170730.0  20170829.0       201707
25       CID0079549                  M0  20161001.0  20161004.0       201610
26       CID0316572                  M0  20180101.0  20180103.0       201801
28       CID0329353                  M0  20151001.0  20151002.0       201510
29       CID0173811        M0        M1  20180104.0  20180106.0       201801
30       CID0252813                  M0  20170401.0  20170403.0       201704
31       CID0238737        M0        M1  20170704.0  20170704.0       201707
32       CID0294431        M1        M2  20180501.0  20180516.0       201805
...             ...       ...       ...         ...         ...          ...
1813126  CID0048280                  M0  20160901.0  20160902.0       201609
1813128  CID0180456                  M0  20171101.0  20171104.0       201711
1813129  CID0217289        M0        M1  20160104.0  20160131.0       201601
1813130  CID0190985                  M0  20180301.0  20180302.0       201803
1813131  CID0374997                  M0  20180401.0  20180402.0       201804
1813132  CID0362552                  M0  20180101.0  20180103.0       201801
1813133  CID0073633                  M0  20151225.0  20151226.0       201512
1813134  CID0032857        M0        M1  20170404.0  20170405.0       201704
1813135  CID0061462        M1        M2  20180531.0         0.0       201805
1813136  CID0319500                  M0  20170701.0  20170702.0       201707
1813137  CID0106991                  M0  20171101.0  20171102.0       201711
1813138  CID0128391        M1        M2  20180131.0  20180302.0       201801
1813139  CID0233960                  M0  20170901.0  20170902.0       201709
1813140  CID0299548        M0        M1  20180104.0  20180109.0       201801
1813141  CID0174594                  M0  20170701.0  20170704.0       201707
1813142  CID0166204                  M0  20180501.0  20180502.0       201805
1813143  CID0229352                  M0  20160801.0  20160802.0       201608
1813144  CID0109312                  M0  20170301.0  20170304.0       201703
1813145  CID0117871                  M0  20180301.0  20180302.0       201803
1813146  CID0347833                  M0  20171001.0  20171003.0       201710
1813147  CID0383300                  M0  20161201.0  20161204.0       201612
1813148  CID0294154                  M0  20171201.0  20171202.0       201712
1813149  CID0349721                  M0  20161001.0  20161002.0       201610
1813150  CID0152283        M1        M2  20170701.0  20170731.0       201707
1813151  CID0027936                  M0  20180301.0  20180304.0       201803
1813152  CID0319068                  M0  20170501.0  20170502.0       201705
1813153  CID0246604                  M0  20180301.0  20180302.0       201803
1813154  CID0083781                  M0  20171001.0  20171004.0       201710
1813155  CID0358959                  M0  20180501.0  20180504.0       201805
1813156  CID0060406                  M0  20180501.0  20180502.0       201805

         CLOSE_MONTH  AFT_FLAG
0             201707         0
1             201802         0
2             201805         5
3             201610         0
4             201506         0
5             201702         7
6             201708         0
7             201702         0
8             201707         0
9             201605         1
10            201609         0
11            201707         1
12            201803         0
13            201707         0
14            201805         0
15            201703         0
16            201601         2
18            201804         3
19            201804         3
21            201712         0
22            201802         0
23            201804         0
24            201708         5
25            201610         0
26            201801         0
28            201510         0
29            201801         1
30            201704         0
31            201707         1
32            201805         2
...              ...       ...
1813126       201609         0
1813128       201711         0
1813129       201601         1
1813130       201803         0
1813131       201804         0
1813132       201801         0
1813133       201512         0
1813134       201704         1
1813135       201805         2
1813136       201707         0
1813137       201711         0
1813138       201803         2
1813139       201709         0
1813140       201801         1
1813141       201707         0
1813142       201805         0
1813143       201608         0
1813144       201703         0
1813145       201803         0
1813146       201710         0
1813147       201612         0
1813148       201712         0
1813149       201610         0
1813150       201707         2
1813151       201803         0
1813152       201705         0
1813153       201803         0
1813154       201710         0
1813155       201805         0
1813156       201805         0

[1663660 rows x 8 columns]>

In [72]:
sample_window.head(10)

          CID STAGE_BEF STAGE_AFT  START_DATE  CLOSE_DATE
0  CID0128273                  M0  20170701.0  20170703.0
1  CID0214787                  M0  20180201.0  20180204.0
2  CID0287932        M4        M5  20180501.0  20180531.0
3  CID0351850                  M0  20161002.0  20161005.0
4  CID0217310                  M0  20150601.0  20150602.0
5  CID0010329        M6        M7  20170128.0  20170227.0
6  CID0140008                  M0  20170801.0  20170802.0
7  CID0066926                  M0  20170201.0  20170204.0
8  CID0156186                  M0  20170701.0  20170704.0
9  CID0362128        M0        M1  20160504.0  20160510.0

In [73]:
sample_window.drop_duplicates(inplace=True) # 去除  所有的值完全重复  的行 
sample_window.shape

(1813157, 5)

In [74]:
sample_window.dropna(subset=["STAGE_BEF","STAGE_AFT"],inplace=True)  #两字段有一个缺失就删除之 
sample_window.shape

(1663660, 5)

In [75]:
sample_window.head(10)

          CID STAGE_BEF STAGE_AFT  START_DATE  CLOSE_DATE
0  CID0128273                  M0  20170701.0  20170703.0
1  CID0214787                  M0  20180201.0  20180204.0
2  CID0287932        M4        M5  20180501.0  20180531.0
3  CID0351850                  M0  20161002.0  20161005.0
4  CID0217310                  M0  20150601.0  20150602.0
5  CID0010329        M6        M7  20170128.0  20170227.0
6  CID0140008                  M0  20170801.0  20170802.0
7  CID0066926                  M0  20170201.0  20170204.0
8  CID0156186                  M0  20170701.0  20170704.0
9  CID0362128        M0        M1  20160504.0  20160510.0

In [76]:
# 对日期取年月份
sample_window["STAGE_MONTH"] = sample_window.START_DATE.apply(lambda x: int(x//100))
sample_window["CLOSE_MONTH"] = sample_window.CLOSE_DATE.apply(lambda x: int(x//100))

In [77]:
sample_window["AFT_FLAG"] = sample_window.STAGE_AFT.apply(lambda x: int(x[-1]))

In [78]:
sample_window.head(10)

,CID,STAGE_BEF,STAGE_AFT,START_DATE,CLOSE_DATE,STAGE_MONTH,CLOSE_MONTH,AFT_FLAG
0,CID0128273,,M0,20170701.0,20170703.0,201707,201707,0
1,CID0214787,,M0,20180201.0,20180204.0,201802,201802,0
2,CID0287932,M4,M5,20180501.0,20180531.0,201805,201805,5
3,CID0351850,,M0,20161002.0,20161005.0,201610,201610,0
4,CID0217310,,M0,20150601.0,20150602.0,201506,201506,0
5,CID0010329,M6,M7,20170128.0,20170227.0,201701,201702,7
6,CID0140008,,M0,20170801.0,20170802.0,201708,201708,0
7,CID0066926,,M0,20170201.0,20170204.0,201702,201702,0
8,CID0156186,,M0,20170701.0,20170704.0,201707,201707,0
9,CID0362128,M0,M1,20160504.0,20160510.0,201605,201605,1

In [79]:
sample_window.loc[sample_window.CLOSE_MONTH == 0,"CLOSE_MONTH"] = 201805

In [80]:
#解决warning 
import warnings
warnings.filterwarnings("ignore")

三国人物出场统计

In [1]:
import os
import jieba
f = open("三国演义.txt","rb")
txt = f.read()
words = jieba.lcut(txt) 


counts = {}
for word in words:
    if len(word) == 1:
        continue
    else:
        counts[word] = counts.get(word,0) + 1 
items = list(counts.items())
items.sort(key = lambda items: items[1], reverse = True)


for i in range(20):
    word, count =  items[i]
    print("{0:<15}{1:>5}".format(word,count))

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\tyx51\AppData\Local\Temp\jieba.cache
Loading model cost 0.633 seconds.
Prefix dict has been built succesfully.

曹操               934
孔明               831
将军               760
却说               647
玄德               570
关公               509
丞相               488
二人               465
不可               435
荆州               419
孔明曰              385
玄德曰              383
不能               383
如此               376
张飞               348
商议               344
如何               336
主公               327
军士               309
吕布               299

继续优化改进

In [5]:
import os
import jieba
f = open("三国演义.txt","rb")
txt = f.read()
words = jieba.lcut(txt) 

counts = {}
for word in words:
    if len(word) == 1:
        continue
    else:
        counts[word] = counts.get(word,0) + 1 
        
        
excludes = ['却说','将军','商议','主公','吕布','军士','如此','如何','不能','天下','引兵','东吴','次日']
for word in excludes:
    del(counts[word])
        
        
        
items = list(counts.items())
items.sort(key = lambda items: items[1], reverse = True)

for i in range(20):
    word, count =  items[i]
    print("{0:<15}{1:>5}".format(word,count))

曹操               934
孔明               831
玄德               570
关公               509
丞相               488
二人               465
不可               435
荆州               419
孔明曰              385
玄德曰              383
张飞               348
左右               291
军马               289
刘备               271
大喜               265
孙权               264
云长               261
赵云               255
于是               250
今日               242

- 上海地铁导航
- BFS, DFS

In [48]:
simple_connection_info = {
    "世纪大道":["商城路","浦电路","东昌路"],
    "小南门":  ["陆家浜路"],
    "陆家浜路":["老西门"],
    "老西门":  ["豫园"],
    "豫园":    ["南京东路"],
    "南京东路":["豫园","陆家嘴"],
    "陆家嘴":["东昌路"],
    "东昌路":["世纪大道"],
    "商城路":["陆家浜路"],
    "浦电路":["小南门"]
}

In [49]:
def search(start,destination,connection_grpah):
    pathes = [[start]]
    visited = set()
    while pathes:
        path = pathes.pop(0)
        froninter = path[-1]
        
        if froninter in visited: continue 
        successors = connection_grpah[froninter]
            
        for stop in successors:
                new_path = path + [stop]
                pathes.append(new_path)
        if stop == destination: return new_path

In [51]:
search("世纪大道","小南门",simple_connection_info )

['世纪大道', '浦电路', '小南门']